body {
    font-family: 'Spinnaker', sans-serif;
    background: #111111D4;
}

.bg-light-dark {
    background: #111111;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #e9ecef00 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Spinnaker', sans-serif;
}

h4 {
    color: white;
}

.btn-warning {
    border-radius: 0px;
    margin-top: 1px;
    color: white;
    background: #eb8c1a;
    border-color: #d9731b;
}

.btn:hover {
    color: #ffff;
    background-color: #fd961adb !important;
    border-color: #fd961adb !important;
}

.text-warning {
    color: #fd961adb !important;
}

.nav-link, p {
    color: white !important;
}

.nav-link:hover {
    color: #fd961a !important;
}

.hero {
    text-align: center;
    padding: 145px 23px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/img/bg.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.login-hero {

    height: 100vh !important;
    background: linear-gradient(rgb(0 0 0 / 69%), rgb(0 0 0 / 59%)), url(../assets/img/bg.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

h1 .yellow {
    color: #fd961a;
    position: relative;
}

.merit-finder-container {
    margin-top: -70px;
}


.card {
    background: none !important;
}

footer .nav-link {
    font-size: 16px;
    font-weight: normal;
}

.form-control {

    color: white;
    background-color: #1D1D1D;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0px;

}

.form-control:focus {
    color: white;
    background-color: #212529;
    border-color: #ffffff;
    outline: 0;
    box-shadow: none;
}

.uni_selector_icon {
    height: 21px;
}

.uni_icon {
    background: white;
    padding: 6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.table-bordered > :not(caption) > * {
    border-width: 15px 0px;
}

.table-bordered > :not(caption) > * > * {
    border-width: 0px 5px;
}

.bg-light {
    background: #C4C4C4 !important;
}

.border-dark {
    border-color: #000000 !important;
}


.card {
    height: 100%;
}

.card-body img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    height: 100% !important;
}

.card-footer {
    margin-top: -15px;
    border-radius: 15px !important;
}

.bg-dark {
    background: #1D1D1D !important;
}

.merit-finder-container .bg-dark {
    border-radius: 18px !important;
}

.card-footer {
    background-color: #1d1d1da6 !important;
}

.m-top-7 {
    margin-top: 7rem !important;
}

.login-container .rounded {
    border-radius: 15px !important;
}

@media (min-width: 300px) and (max-width: 769px) {
    .m-top-7 {
        margin-top: 3rem !important;
    }
    .m-top-2 {
        margin-top: 2rem !important;
    }

    .mt-sm-5 {
        margin-top: 3rem !important;
    }

    .mx-2 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .mx-5 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .t-m {
        padding-top: 14px !important;
    }

    .t-m-3 {
        padding-top: 23px;
    }

    .py-4 {
        padding-bottom: 1rem !important;
    }
}

@media (min-width: 200px) and (max-width: 579px) {
    .tx-center {
        text-align: left;
    }

}

